@charset "UTF-8";

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc800;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    a --bs-primary: #ffc800;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc800;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #e43c5c;
    text-decoration: none;
}


a:hover {
    color: #ea6981;
    text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "URW Form", sans-serif;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 40px 0;
    overflow: hidden;
}

#projekty {
    padding: 0px 0;
}

.section-title {
    padding-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title h2::before {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title h3::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title h3::before {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

@media (max-width: 992px) {
    section {
        padding: 40px 0;
        overflow: hidden;
    }

    .section-title {
        padding-bottom: 40px;
        text-align: center;
    }

    .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
    }

    .section-title h3 {
        font-size: 10px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
    }

    .section-title h2::after {
        content: "";
        width: 60px;
        height: 1px;
        display: inline-block;
        background: #fd9042;
        margin: 4px 10px;
    }

    .section-title h2::before {
        content: "";
        width: 60px;
        height: 1px;
        display: inline-block;
        background: #fd9042;
        margin: 4px 10px;
    }

    .section-title h3::after {
        content: "";
        width: 10px;
        height: 1px;
        display: inline-block;
        background: #fd9042;
        margin: 4px 10px;
    }

    .section-title h3::before {
        content: "";
        width: 10px;
        height: 1px;
        display: inline-block;
        background: #fd9042;
        margin: 4px 10px;
    }


    .section-title p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #2a2c39;
    }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #333333;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #333333;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 12px 0;
    top: -100%;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);

}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(0, 0, 0, 0.9);
    padding: 12px 0;
    top: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 15px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #e84646;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #493c3e;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #e43c5c;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (max-width: 768px) {
    .navbar a[title=Prohlidka] {
        display: none;
        white-space: nowrap;
        overflow: hidden;
    }

}

/**
* Mobile Navigation 
*/

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #F6F6F6;
}


.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .nav-menu {
        position: fixed;
        left: 0;
        top: 100%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        display: flex;
    }

    .nav-menu a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-size: 15px;
        padding: 0 26px 0 0;
        font-weight: 1000;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 0.4px;
        position: relative;
    }

    .navbar>ul>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: -12px;
        background-color: #e84646;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    .nav-menu.active {
        top: 64px;
    }

    .nav-item {
        margin: 2.5rem 0;

    }


    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 37, 38, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 475px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    border-radius: 25px;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #493c3e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #e43c5c;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #e43c5c;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Domů Section
--------------------------------------------------------------*/

#domu {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background: url("../img/Background/Background-Wide.jpg") no-repeat;
}


#domu .ScrollingIcon {
    position: absolute;
    bottom: 0;
    top: 300px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (min-width: 992px) {
    #domu {
        background: url("../img/Backgrounds/Background-Wide.jpg") no-repeat;
        background-size: cover;
        position: relative;
    }
}

#domu:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#domu h1 {
    margin: 0;
    font-size: 200px;
    font-weight: 300;
    line-height: 56px;
    color: #F6F6F6;
    font-family: "Raleway", sans-serif;
}

#domu h1 b {
    margin: 0;
    font-size: 200;
    font-weight: 700;
    line-height: 56px;
    color: #F6F6F6;
}

#domu p {
    color: #F6F6F6;
    margin: 60px 0 0 0;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
}

#domu p span {
    color: #e84646;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
}

#domu .social-links {
    margin-top: 70px;
    margin-left: 32px;
}

#domu .social-links a {
    font-size: 35px;
    display: inline-block;
    color: #F6F6F6;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

#domu .social-links a:hover {
    color: #e84646;
}

#domu .btn-scroll {
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.6);
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#domu .btn-scroll i {
    font-size: 48px;
}

#domu .btn-scroll:hover {
    color: #e84646;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@media (max-width: 992px) {
    #domu {
        text-align: center;
        background: url("../img/Backgrounds/Background-Phone.jpg") no-repeat;
        background-size: cover;
        position: relative;
    }

    #domu .ScrollingIcon {
        position: absolute;
        bottom: 0;
        top: 200px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    #domu h1 {
        font-size: 80px;
        line-height: 36px;
        margin-top: 0px;
    }

    #domu h1 b {
        font-size: 80px;
        line-height: 36px;
        margin-top: 0px;
    }

    #domu p {
        margin-top: 35px;
        font-size: 25px;
        line-height: 24px;
    }

    #domu .social-links {
        margin-top: 50px;
        margin-left: 35px;
    }

    #domu .social-links a {
        font-size: 30px;
        display: inline-block;
        color: #F6F6F6;
        line-height: 1;
        margin-right: 25px;
        transition: 0.3s;
    }
}

@media (max-width: 370px) {

    #domu .social-links a {
        font-size: 25px;
        display: inline-block;
        color: #F6F6F6;
        line-height: 1;
        margin-right: 25px;
        transition: 0.3s;
    }
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#omne {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 150px 0 150px 0;
    position: relative;
    background: linear-gradient(0deg, rgba(36, 0, 0, 0.5746673669467788) 0%, rgba(97, 96, 96, 0.5578606442577031) 50%, rgba(36, 36, 36, 0.5354516806722689) 100%), url("../img/Backgrounds/Background-WorkPlace.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap: break-word;
}


@media (min-width: 992px) {
    #omne {
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        word-wrap: break-word;
    }
}

#omne:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#omne .AboutMe h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 300;
    line-height: 56px;
    color: #F6F6F6;
}

#omne .AboutMe h1 b {
    margin: 0;
    font-size: 200;
    font-weight: 700;
    line-height: 56px;
    color: #F6F6F6;
}

#omne .AboutMe p {
    color: #F6F6F6;
    margin: 60px 0 0 0;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

#omne .AboutMe p b {
    color: #e84646;
    margin: 60px 0 0 0;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

#omne .AboutMe p span {
    color: #e84646;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
}


@-webkit-keyframes up-down {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@media (max-width: 992px) {
    #omne {
        width: 100%;
        text-align: center;
        overflow: hidden;
        height: 100%;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: justify;
        word-wrap: break-word;
    }

    #omne .AboutMe h1 {
        font-size: 65px;
        line-height: 65px;
        margin-top: 0px;
    }

    #omne .AboutMe h1 b {
        font-size: 65px;
        line-height: 65px;
        margin-top: 0px;
    }

    #omne .AboutMe p {
        margin-top: 35px;
        font-size: 20px;
        line-height: 24px;
        padding: 0px 5px 0px 5px;
    }

    #omne .AboutMe p b {
        color: #e84646;
        margin: 60px 0 0 0;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }
}

@media (width: 1024px) {
    #omne {
        width: 100%;
        text-align: center;
        overflow: hidden;
        height: 100%;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: justify;
        word-wrap: break-word;
    }

    #omne .AboutMe h1 {
        font-size: 70px;
        line-height: 65px;
        margin-top: 0px;
    }

    #omne .AboutMe h1 b {
        font-size: 70px;
        line-height: 65px;
        margin-top: 0px;
    }

    #omne .AboutMe p {
        margin-top: 35px;
        font-size: 20px;
        line-height: 24px;
        padding: 0px 5px 0px 5px;
    }

    #omne .AboutMe p b {
        color: #e84646;
        margin: 60px 0 0 0;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }
}

@media (width: 768px) {
    #omne {
        width: 100%;
        text-align: center;
        overflow: hidden;
        height: 100%;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: justify;
        word-wrap: break-word;
    }

    #omne .AboutMe h1 {
        font-size: 70px;
        line-height: 65px;
        margin-top: 0px;
    }

    #omne .AboutMe h1 b {
        font-size: 70px;
        line-height: 65px;
        margin-top: 0px;
    }

    #omne .AboutMe p {
        margin-top: 35px;
        font-size: 20px;
        line-height: 24px;
        padding: 0px 5px 0px 5px;
    }

    #omne .AboutMe p b {
        color: #e84646;
        margin: 60px 0 0 0;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }
}




/*--------------------------------------------------------------
# Offers
--------------------------------------------------------------*/
.offers .icon-box {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(21, 21, 21, 0.8);
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.4s ease-in-out;
    border: 2px solid #f5f5f5;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.offers .icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}

.offers .icon {
    position: absolute;
    left: -40px;
    top: calc(50% - 77px);
    opacity: 0.05;
}

.offers .icon i {
    font-size: 150px;
    line-height: 1;
    transition: 0.5s;
    color: #F6F6F6;
}

.offers .title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 20px;
    color: #F6F6F6;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.offers .title a {
    color: #2a2c39;
    transition: ease-in-out 0.3s;
}

.offers .title a:hover {
    color: #ef6603;
}


.offers p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #F6F6F6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.offers h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 50px;
    color: #F6F6F6;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .offers .icon-box {
        margin-top: 2px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        background: rgba(21, 21, 21, 0.8);
        box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.4s ease-in-out;
        border: 2px solid #f5f5f5;
        width: 100%;
        height: 100%;
        word-wrap: break-word;
    }

    .offers .icon-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
    }

    .offers .icon {
        position: absolute;
        left: -40px;
        top: calc(50% - 77px);
        opacity: 0.05;
    }

    .offers .icon i {
        font-size: 150px;
        line-height: 1;
        transition: 0.5s;
        color: #F6F6F6;
    }

    .offers .title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }

    .offers .title a {
        color: #2a2c39;
        transition: ease-in-out 0.3s;
    }

    .offers .title a:hover {
        color: #ef6603;
    }


    .offers p {
        font-size: 14px;
        line-height: 24px;
        padding: 0px 10px 0px 10px;
        margin-bottom: 0;
        margin-top: 0px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .offers h3 {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 50px;
        color: #F6F6F6;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
}

@media (width: 1024px) {
    .offers .icon-box {
        margin-top: 2px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        background: rgba(21, 21, 21, 0.8);
        box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.4s ease-in-out;
        border: 2px solid #f5f5f5;
        width: 100%;
        height: 100%;
        word-wrap: break-word;
    }

    .offers .icon-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
    }

    .offers .icon {
        position: absolute;
        left: -40px;
        top: calc(50% - 77px);
        opacity: 0.05;
    }

    .offers .icon i {
        font-size: 150px;
        line-height: 1;
        transition: 0.5s;
        color: #F6F6F6;
    }

    .offers .title {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }

    .offers .title a {
        color: #2a2c39;
        transition: ease-in-out 0.3s;
    }

    .offers .title a:hover {
        color: #ef6603;
    }


    .offers p {
        font-size: 14px;
        line-height: 24px;
        padding: 0px 10px 0px 10px;
        margin-bottom: 0;
        margin-top: 0px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .offers h3 {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 50px;
        color: #F6F6F6;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
}

@media (width: 768px) {
    .offers .icon-box {
        margin-top: 2px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        background: rgba(21, 21, 21, 0.8);
        box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.4s ease-in-out;
        border: 2px solid #f5f5f5;
        width: 100%;
        height: 100%;
        word-wrap: break-word;
    }


    .offers .icon-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
    }



    .offers .icon {
        position: absolute;
        left: -40px;
        top: calc(50% - 77px);
        opacity: 0.05;
    }

    .offers .icon i {
        font-size: 150px;
        line-height: 1;
        transition: 0.5s;
        color: #F6F6F6;
    }

    .offers .title {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }

    .offers .title a {
        color: #2a2c39;
        transition: ease-in-out 0.3s;
    }

    .offers .title a:hover {
        color: #ef6603;
    }


    .offers p {
        font-size: 14px;
        line-height: 24px;
        padding: 0px 10px 0px 10px;
        margin-bottom: 0;
        margin-top: 0px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .offers h3 {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 50px;
        color: #F6F6F6;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
}

/*--------------------------------------------------------------
# VikingFeast
--------------------------------------------------------------*/
.VikingFeast {
    background: linear-gradient(0deg, rgba(40, 40, 40, 0.8) 0%, rgba(97, 96, 96, 0.8) 100%), url("../img/Backgrounds/Background-VikingFeast.jpg") no-repeat fixed center center;
    background-size: cover;
    padding: 20px 0;
    overflow: hidden;
}

.VikingFeast h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.VikingFeast h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.VikingFeast .VikingFeast-info {
    text-align: center;
    color: #fff;
    width: 100%;
    padding-top: 20px;
}

.VikingFeast .VikingFeast-info p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #F6F6F6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.VikingFeast .Logo {
    position: absolute;
    margin-left: -550px;
    margin-top: -490px;
    opacity: 0.2;
    width: 50%;
    height: 50%;
}

.VikingFeast .VikingFeast-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.VikingFeast .VikingFeast-btn:hover {
    background: #F6F6F6;
    border: 2px solid #F6F6F6;
    color: #e84646;
}

@media (max-width: 992px) {
    .VikingFeast {
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;
    }

    .VikingFeast h3 {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }

    .VikingFeast h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .VikingFeast .VikingFeast-info {
        text-align: center;
        color: #fff;
        width: 100%;
        padding-top: 20px;
    }

    .VikingFeast .VikingFeast-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .VikingFeast .column {
        float: right;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .VikingFeast .Logo {
        display: none;
    }

}

@media (width: 1024px) {
    .VikingFeast {
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;
    }

    .VikingFeast h3 {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }

    .VikingFeast h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .VikingFeast .VikingFeast-info {
        text-align: center;
        color: #fff;
        width: 100%;
        padding-top: 20px;
    }

    .VikingFeast .VikingFeast-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .column {
        float: right;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .VikingFeast .Logo {
        display: none;
    }

}

/*--------------------------------------------------------------
# RoadOfNoSins
--------------------------------------------------------------*/
.RoadOfNoSins {
    background: linear-gradient(0deg, rgba(40, 40, 40, 0.8) 0%, rgba(97, 96, 96, 0.8) 100%), url("../img/Backgrounds/Background-Road.jpg") no-repeat fixed center center;
    background-size: cover;
    padding: 20px 0;
    overflow: hidden;
}

.RoadOfNoSins h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.RoadOfNoSins h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.RoadOfNoSins .RoadOfNoSins-info {
    text-align: center;
    color: #fff;
    width: 100%;
    padding-top: 40px;
}

.RoadOfNoSins .RoadOfNoSins-info p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #F6F6F6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


.RoadOfNoSins .Logo {
    position: absolute;
    margin-left: 550px;
    margin-top: -450px;
    opacity: 0.2;
    width: 50%;
    height: 50%;
}

.RoadOfNoSins .RoadOfNoSins-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.RoadOfNoSins .RoadOfNoSins-btn:hover {
    background: #F6F6F6;
    border: 2px solid #F6F6F6;
    color: #e84646;
}

@media (max-width: 992px) {
    .RoadOfNoSins {
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;
    }

    .RoadOfNoSins h3 {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }

    .RoadOfNoSins h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .RoadOfNoSins .RoadOfNoSins-info {
        text-align: center;
        color: #fff;
        width: 100%;
        padding-top: 10px;
    }

    .RoadOfNoSins .RoadOfNoSins-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .column {
        float: right;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .RoadOfNoSins .Logo {
        display: none;
    }

}

@media (width: 768px) {
    .RoadOfNoSins {
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;
    }

    .RoadOfNoSins h3 {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }

    .RoadOfNoSins h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .RoadOfNoSins .RoadOfNoSins-info {
        text-align: center;
        color: #fff;
        width: 100%;
        padding-top: 10px;
    }

    .RoadOfNoSins .RoadOfNoSins-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .column {
        float: left;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .RoadOfNoSins .Logo {
        display: none;
    }

}

@media (width: 1024px) {
    .RoadOfNoSins {
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;
    }

    .RoadOfNoSins h3 {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }

    .RoadOfNoSins h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .RoadOfNoSins .RoadOfNoSins-info {
        text-align: center;
        color: #fff;
        width: 100%;
        padding-top: 10px;
    }

    .RoadOfNoSins .RoadOfNoSins-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .column {
        float: right;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .RoadOfNoSins .Logo {
        display: none;
    }
}

/*--------------------------------------------------------------
# Backrooms The Lobby
--------------------------------------------------------------*/
.BackroomsLobby {
    background: linear-gradient(0deg, rgba(40, 40, 40, 0.8) 0%, rgba(97, 96, 96, 0.8) 100%), url("../img/Backgrounds/Background-BackroomsLobby.jpg") no-repeat fixed center center;
    background-size: cover;
    padding: 20px 0;
    overflow: hidden;
}

.BackroomsLobby h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.BackroomsLobby h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.BackroomsLobby .BackroomsLobby-info {
    text-align: center;
    color: #fff;
    width: 100%;
    padding-top: 20px;
}

.BackroomsLobby .BackroomsLobby-info p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #F6F6F6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.BackroomsLobby .Logo {
    position: absolute;
    margin-left: -550px;
    margin-top: -490px;
    opacity: 0.2;
    width: 50%;
    height: 50%;
}

.BackroomsLobby .BackroomsLobby-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.BackroomsLobby .BackroomsLobby-btn:hover {
    background: #F6F6F6;
    border: 2px solid #F6F6F6;
    color: #e84646;
}

@media (max-width: 992px) {
    .BackroomsLobby {
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;
    }

    .BackroomsLobby h3 {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }

    .BackroomsLobby h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .BackroomsLobby .BackroomsLobby-info {
        text-align: center;
        color: #fff;
        width: 100%;
        padding-top: 20px;
    }

    .BackroomsLobby .BackroomsLobby-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .BackroomsLobby .column {
        float: right;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .BackroomsLobby .Logo {
        display: none;
    }

}

@media (width: 1024px) {
    .BackroomsLobby {
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;
    }

    .BackroomsLobby h3 {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }

    .BackroomsLobby h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .BackroomsLobby .BackroomsLobby-info {
        text-align: center;
        color: #fff;
        width: 100%;
        padding-top: 20px;
    }

    .BackroomsLobby .BackroomsLobby-info p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #F6F6F6;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .column {
        float: right;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .BackroomsLobby .Logo {
        display: none;
    }

}

/*--------------------------------------------------------------
# Slideshow
--------------------------------------------------------------*/

.btn_slider {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.btn_slider:hover {
    background: #F6F6F6;
    border: 2px solid #F6F6F6;
    color: #e84646;
}

.btn_slider:hover::before {
    top: 0;
    height: 100%;
    opacity: 1;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn_slider:hover::after {
    border-color: #373737;
    transition: border 0.1s linear 0s;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: 1;
}

.slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
    display: block;
}

.slideshow .slide.is-loaded {
    opacity: 1;
}

.slideshow .slide .caption {
    padding: 0 100px;
}

.slideshow .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
    background-size: cover;
    image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.futured {
    background: url("../img/Backgrounds/Background-Futured.jpg") no-repeat fixed center center;
}


.slideshow .slide .image {
    width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slideshow .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow .slide .title {
    margin: 0 auto 15px;
    max-width: 1000px;
    font-family: "URW Form", sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}

.slideshow .slide .text {
    margin: 0 auto;
    max-width: 1000px;
    font-family: "URW Form", sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.4;
}

.slideshow .slide .btn {
    margin: 15px 0 0;
    border-color: #fff;
}

.slideshow .slide .btn::before {
    background: #fff;
}

.slideshow .slider-pagination {
    position: absolute;
    bottom: 35px;
    right: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 1;
    text-align: center;
}

.slideshow .slider-pagination .item {
    display: inline-block;
    padding: 15px 5px;
    position: relative;
    width: 46px;
    height: 32px;
    cursor: pointer;
    text-indent: -999em;
    z-index: 1;
}

.slideshow .slider-pagination .item+.page {
    margin-left: -2px;
}

.slideshow .slider-pagination .item::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 36px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease;
}

.slideshow .slider-pagination .item::after {
    width: 0;
    background: #fff;
    z-index: 2;
    transition: width 0.2s ease;
}

.slideshow .slider-pagination .item:hover::before,
.slideshow .slider-pagination .item.is-active::before {
    background-color: #fff;
}

.slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
}

.slideshow .arrows .prev {
    left: 30px;
}

.slideshow .arrows .prev:hover .svg {
    left: -10px;
}

.slideshow .arrows .next {
    right: 30px;
}

.slideshow .arrows .next:hover .svg {
    left: 10px;
}

.slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease;
}

/*--------------------------------------------------------------
# Swiper
--------------------------------------------------------------*/

.portfolio-details {
    padding-top: 10px;

}

.portfolio-details-slider img {
    width: 100%;
    border-radius: 5px;

}

.portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
}

.portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e84646;

}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
    text-align: center;
    padding: 20px 20px 20px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
    border: 2px solid #f5f5f5;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease-in-out 0.5s;
}

.services .icon-box .icon img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all ease-in-out 0.5s;
}

.services .icon-box .service-text {
    transition: all ease-in-out 0.5s;
}

.services .icon-box .service-text h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 35px;
}


.services .icon-box .service-text p {
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 0;
}

.services .icon-box:before {
    background: rgba(0, 0, 0, 0.9);
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.services .icon-box:hover:before {
    top: 0;
}

.services .icon-box:after {
    top: 0;
    position: absolute;
    right: 2.34375rem;
    top: 50%;
}

.services .icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}


.services .icon-box:hover>.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(120%) contrast(102%);
    transform: scale(0.5);
    transition: all 0.5s;
}

.services .icon-box:hover>.service-text {
    transform: translateY(-10%);
    color: #fff;
    transition: all 0.3s;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-container {
    margin: 0 auto;
}

.portfolio .portfolio-item {
    width: 448px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;

}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    font-family: "URW Form", sans-serif;
    font-weight: 200;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #e84646;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(21, 21, 21, 0.6);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(21, 21, 21, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap img {
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info h5 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    text-transform: uppercase;
    font-weight: 450;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 7px;
    margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #ffc451;
}

.portfolio .portfolio-wrap:hover::before {
    opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
    transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}


/*--------------------------------------------------------------
# Prohlídka 3D
--------------------------------------------------------------*/

@media (max-width: 768px) {

    .prohlidka {
        visibility: hidden;
        display: none;
        position: relative;
    }
}

/*--------------------------------------------------------------
# Promo - Video
--------------------------------------------------------------*/

.ExterniVideo {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}


.ExterniVideo .column {
    float: inherit;
}

.ExterniVideo .left {
    width: 55%;
}

.ExterniVideo .right {
    position: relative;
    width: 45%;
}

.videobox video {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 30px;
    z-index: 1;
}

.overlaybox {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    right: 0px;
    z-index: 2;
    background: url("../img/Backgrounds/Background-4Filming.png") no-repeat;
    background-size: cover;
}

.ExterniVideo .section-title {
    z-index: 3;
    position: relative;
}


.ExterniVideo .VideoInfo {
    text-align: left;
    color: #333333;
    width: 100%;
    margin-top: 10px;
}

.ExterniVideo .VideoInfo h3 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.ExterniVideo .VideoInfo p {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.ExterniVideo .VideoInfo b {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


.ExterniVideo .VideoInfo-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #333333;
    color: #333333;
}

.ExterniVideo .VideoInfo-btn:hover {
    background: #F6F6F6;
    border: 2px solid #F6F6F6;
    color: #e84646;
}

@media (max-width: 768px) {

    .ExterniVideo .VideoInfo {
        text-align: center;
        color: #333333;
        width: 100%;
        margin-top: 10px;
    }

    .ExterniVideo .column {
        float: none;
    }

    .ExterniVideo .left {
        width: 100%;
    }

    .ExterniVideo .right {
        visibility: hidden;
        display: none;
        position: relative;
    }

    .ExterniVideo .VideoInfo h3 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 0;
        margin-top: 10px;
        color: #333333;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
    }

    .ExterniVideo .VideoInfo p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;
        color: #333333;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }

    .ExterniVideo .VideoInfo b {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;
        color: #333333;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }

}

@media (max-width: 1400px) {

    .ExterniVideo .VideoInfo {
        text-align: center;
        color: #333333;
        width: 100%;
        margin-top: 10px;
    }

    .ExterniVideo .column {
        float: none;
    }

    .ExterniVideo .left {
        width: 100%;
    }

    .ExterniVideo .right {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
    background: #fff;
    padding: 10px 0;
    text-align: center;
}

.clients .ClientsBackground {
    background: rgba(0, 0, 0, 0.02);
    padding: 15px 0;
    text-align: center;
}

.clients img {
    width: 80%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    padding: 15px 0;
}

.clients img:hover {
    filter: none;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .clients img {
        width: 70%;
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    background: rgba(0, 0, 0, 1);
    position: relative;
}

.custom-shape-divider-top-1629991318 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629991318 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1629991318 .shape-fill {
    fill: #FFFFFF;
}


.contact .info h4 {
    padding: 0 0 0 0px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #e84646;
}

.contact .info h3 {
    padding: 0 0 0 0px;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #F6F6F6;
    font-family: "Raleway", sans-serif;
}

.contact .info p {
    padding: 0 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #F6F6F6;
}

.contact .info i {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 300;
    color: #e84646;
}

.contact .info {
    width: 100%;
    text-align: center;
    padding: 50px 20px 0 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    color: #555974;
}

.contact .information {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 370px) {

    .contact .info h3 {
        padding: 0 0 0 0px;
        font-size: 55px;
        font-weight: 400;
        margin-bottom: 50px;
        color: #F6F6F6;
    }

    .contact .info i {
        margin-bottom: 0;
        font-size: 25px;
        font-weight: 300;
        color: #e84646;
    }

    .contact .info p {
        padding: 0 0;
        margin-bottom: 0;
        font-size: 15px;
        color: #F6F6F6;
    }

    .contact .info h4 {
        padding: 0 0 0 0px;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #e84646;
    }

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px;
}

#footer p {
    font-size: 12px;
    padding-top: 10px;
    margin: 0px 0 10px 0;
    color: rgba(255, 255, 255, 0.5);

}

#footer .social-links {
    margin: 0px 0 0px 0;
}

#footer .social-links a {
    font-size: 25px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    color: #e84646;
    text-decoration: none;
}

#footer .copyright {
    margin: 10px 0 20px 0;
}